@model List<MeuProjetoMVC.Models.Venda>
@{
    ViewData["Title"] = "Vendas";
}

<h1>Lista de Vendas</h1>

<a href="/Venda/Criar">Registrar Venda</a>

<form method="get" action="/Venda/Index">
    <input type="text" name="search" placeholder="Pesquisar por nome" value="@Context.Request.Query["search"]" />
    <button type="submit">Buscar</button>
</form>

@if (Model.Count > 0)
{
    <table border="1">
        <thead>
            <tr>
                <th>Data</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Valor Unitário</th>
                <th>Quantidade</th>
                <th>Valor Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                <tr>
                    <td>@venda.dthVenda</td>
                    <td>@venda.Cliente.nmCliente</td>
                    <td>@venda.Produto.dscProduto</td>
                    <td>@venda.vlrUnitarioVenda</td>
                    <td>@venda.qtdVenda</td>
                    <td>@venda.vlrTotalVenda</td>
                    <td>
                        <a href="/Venda/Editar/@venda.idVenda">Editar</a> |
                        <a href="/Venda/Deletar/@venda.idVenda">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Nenhuma venda registrada.</p>
}
