@model List<MeuProjetoMVC.Models.Venda>
@{
    ViewData["Title"] = "Vendas";
}

<h1>Lista de Vendas</h1>

<a href="/Venda/Criar">Registrar Venda</a>

<form method="get" action="/Venda/Index">
    <input type="text" name="search" placeholder="Pesquisar por nome" value="@Context.Request.Query["search"]" />
    <button type="submit">Buscar</button>
</form>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var venda in Model)
        {
            <li>
                Data: @venda.dthVenda <br>
                Cliente: @venda.Cliente.nmCliente <br>
                Produto: @venda.Produto.dscProduto <br>
                Valor Unitário: @venda.vlrUnitarioVenda <br>
                Quantidade: @venda.qtdVenda <br>
                Valor Total: @venda.vlrTotalVenda <br>
                <a href="/Venda/Editar/@venda.idVenda">Editar</a>
                <a href="/Venda/Deletar/@venda.idVenda">Excluir</a>
            </li>
        }
    </ul>
}
else
{
    <p>Nenhuma venda registrada.</p>
}
